body {
  background-color: #2f2f2f;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.container {
  background-color: #333;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 800px;
}

header h1 {
  font-size: 2.5rem;
  color: #ff6347;
  margin-bottom: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #fff;
}

.btn {
  padding: 15px 25px;
  background-color: #ff6347;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4500;
}

.add-card {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.counter-section {
  margin-top: 30px;
}

.counter {
  font-size: 1.8rem;
  color: #e0e0e0;
}

.time {
  font-size: 2.5rem;
  color: #4caf50;
}

/* Estilo para o Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  color: #fff;
  text-align: left;
}

.close-btn {
  color: #ff6347;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff4500;
}
